<script>
  $( document ).ready(function() {
    $(".painelEndereco").hide();

    $( "#usarCep" ).click(function() {
      $( "#cliente_cep" ).prop({
        readOnly: false
      });
    });

    $( "#nCep" ).click(function() {
      $(".painelEndereco").show();
      $( "#cliente_cep" ).prop({
        readOnly: true
      });
      $( "#cliente_cep").val("");
    });

    $( "#cliente_cep" ).change(function() {
      atualizaEndereco();
    });

    $("#cliente_estado").change(function(){
      var rua = $("#cliente_rua").val();
      var bairro = $("#cliente_bairro").val();
      var cidade = $("#cliente_cidade").val();
      var estado = $("#cliente_estado").val();
      busca_cep(rua,bairro, cidade, estado);
    });
  });
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h3><strong>Cadastro de Cliente</strong></h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
<%= link_to 'Voltar', lojas_path %>
