<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h3><strong>Relatório de Vendas</strong></h3>
      </div>
      <% if @hash_produtos_vendidos.values.length > 0 %>
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Produto Vendido</th>
              <th>Quantidade Total Vendida</th>
              <th>Valor Total</th>
            </tr>
            </thead>

            <tbody>
            <% @hash_produtos_vendidos.values.each do |produto_vendido| %>
                <tr>
                  <td><%= produto_vendido %></td>
                  <td><%= @hash_qtd_total[produto_vendido] %></td>
                  <td>R$ <%= @hash_valor_total[produto_vendido]%></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <div class="alert alert-info" role="alert">Ainda não há Vendas realizadas!</div>
      <%end%>

      <br/>
      <%= link_to 'Voltar', lojas_path, class: 'btn btn-default btn-block', role:'button' %>
    </div>
  </div>
</div>
